@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">James Bhai</h1>
    <p>
        <h2>Thew wali sarkar</h2>
    </p>
    <p><h4>Baraf jamane ki recipe chahiye to subscribe kar shabash</h4></p>
</div>
